// Primary colors

$soft-red: hsl(7, 99%, 70%);
$soft-red-opacity: hsla(7, 99%, 70%, 0.3);
$yellow: hsl(51, 100%, 49%);
$yellow-opacity: hsla(51, 100%, 49%, 0.3);
$dark-cyan-desaturate: hsl(167, 40%, 24%);
$dark-blue: hsl(198, 62%, 26%);
$dark-cyan-moderate: hsl(168, 34%, 41%);
$light-cyan: #90D4C5;

// Neutral colors

$vdark-blue-desaturate: hsl(212, 27%, 19%);
$vdark-gray-blue: hsl(213, 9%, 39%);
$dark-grey-blue: hsl(232, 10%, 55%);
$gray-blue: hsl(210,4%,67%);
$white: hsl(0, 0%, 100%);